* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.centrado {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-rows: 10% 80% 10%;
}

.con-reg {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: 30% 40% 30%;
    text-align: center;
}

.con-reg-tit {
    font-size: 70%;
}

.con-reg-nombre {
    font-size: 70%;

}