
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.con-gen {
    background-image: url(https://scontent.fmzt2-1.fna.fbcdn.net/v/t39.30808-6/300352028_396112569293968_4517196011103302165_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=QS2ZT9Ksa9IAX-h8Wte&_nc_ht=scontent.fmzt2-1.fna&oh=00_AfA8fEAFHBzwDdVaqlWbJGWN8P2jKu4izYOi5TEIO6FTmg&oe=6561F7BD);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4a5ed06e;
    margin: -22px -8px;
}

.titulos {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FA3535;
    color: rgb(255, 255, 255);
    font-size: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: 25% 50% 25%;
    text-align: center;
}

.centro {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 10% 80% 10%;
}

.cen-1 {
    background-color: #5f62789c;
}

.cen-2 {
    background-color: #f1f1f1c0;
    color: #282828;
    padding: 10% 5%;
}

.cen-3 {
    background-color: #5f62789c;
}


.prifoot {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #494949e0;
    color: white;
    text-align: center;
    bottom: 0;
}

.afoot {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #FE2828;
}