* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: whitesmoke;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.con-central {
    display: grid;
    grid-template-rows: repeat(1,2fr);
    grid-template-rows: 10% 90%;
    position: static;
}

.pfoot {
    padding-left: 1%;
    font-size: 14px;
    color: azure;
    justify-content: center;
}

.afoot {
    justify-content: center;
    padding-left: 1%;
    font-size: 12px;
    color: rgb(159, 158, 158);
}

.form-login {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding-left: 0px;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.form-login.show {
    opacity: 1;
    transform: translateY(0);
}


.form-login:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

#btnEnviar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#btnEnviar:hover {
    background-color: #0056b3;
}

.create-account {
    margin-top: 15px;
    color: #555;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #484848;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

header {
    position: absolute;
    top: 0;
    background-color: #da2b2b;
    color: #ffffff;
    text-align: center;
    padding: 1px 0;
}

.input-box .contra {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    color: #333;
    transition: color 0.3s;
}

.input-box .email {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 27px;
    color: #333;
    transition: color 0.3s;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box .contra,
.input-box .email {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    transition: color 0.3s;
}

.input-box input {
    width: calc(100% - 30px);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding-left: 40px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
    z-index: -1;
}

.input-box input:focus+label,
.input-box input:valid+label {
    transform: translateY(-150%);
    font-size: 14px;
    color: #007bff;
}

.gg-arrow-left {
    scale: 3.0;
    color: #007bff;
    top: 230px;
    right: 850px;
    font-weight: bold;

}

.gg-arrow-left:hover {
    color: #333;
}

.table-container {

    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 2px solid #ddd; /* Borde alrededor del contenedor */
    margin-top: 70px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 12px;
}

th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    .form-login {
        width: 90%;
    }

    body {
        overflow: hidden;
    }

    .gg-arrow-left {
        scale: 3.0;
        color: #007bff;
        top: 230px;
        right: 170px;
        font-weight: bold;
    }

}