* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color:#f2f2f2;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
}

h1{
    padding-top: 10px;
    color: black;
    text-align: center;
    font-size: 50px;
}

.ov {
    position: absolute;
    top: 0;
    background-color: #da2b2b;
    color: #ffffff;
    left: -3px;
    z-index: -1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: gray;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 120px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 70px;
    height: 0px;
    width: 170px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open {
    height: 125px;
    width: 170px;
}

footer {
    position:sticky;
    bottom: 0;
    width: 100%;
    background-color: #484848c7;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.pfoot {
    padding-left: 1%;
    font-size: 14px;
    color: azure;
    justify-content: center;
}

.afoot {
    justify-content: center;
    padding-left: 1%;
    font-size: 12px;
    color: rgb(159, 158, 158);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.input-box {
    display: grid;
    grid-template-columns: repeat(2,fr);
    padding: 5px 380px;
}

.form-menu {
    width: 150%;
    display:flexbox;
    justify-content: center;
    background-color: #da2b2b;
    color: rgb(235, 235, 235);
    margin: 10px;
    padding: 15px 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 6px;
}

.form-game {
    justify-content: center;
    margin: 10px;
    padding: 15px 20px;
    text-align: center;
}

.guardar{
    padding: 5px 10px;
}

.botonE{
    padding: 3px;
    margin: 1px;
}

.qr {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}

.qr img{
	max-width: 100px;
	width: 100%;
	height: auto;
}

.guardar{
    justify-content: center;
    margin-top: 10px;
    margin-left: 450px;
}

@media(max-width: 992px) {

    .navbar .links{
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display:block;
    }

}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 11rem;
        width: unset;
    }
}