* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url(/img/ffMenu.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
}

.ov {
    position: absolute;
    top: 0;
    background-color: #da2b2b;
    color: #ffffff;
    left: -3px;
    z-index: -1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: gray;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 120px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 70px;
    height: 0px;
    width: 170px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open {
    height: 125px;
    width: 170px;
}

section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #484848c7;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.pfoot {
    padding-left: 1%;
    font-size: 14px;
    color: azure;
    justify-content: center;
}

.afoot {
    justify-content: center;
    padding-left: 1%;
    font-size: 12px;
    color: rgb(159, 158, 158);
}

@media(max-width: 992px) {

    .navbar .links{
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display:block;
    }

}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 11rem;
        width: unset;
    }
}